.overflow-text{
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal; 
    text-align:left
}
.live-bid-list-card {
    background-color: rgb(236, 239, 240);
    height: 135px;
    width: initial;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid rgba(97, 134, 48, 0.82); */
    overflow-x: scroll;
}


.sroll-overflow{
    overflow-y: scroll;
}